deepspeed==0.14.4
flash_attn==2.7.4.post1
openai-whisper==20231117
peft==0.12.0
tensorboardX==2.6.2.2
torch>=2.6.0
torchaudio>=2.6.0
transformers==4.52.3
webdataset==0.2.111
git+https://github.com/wenet-e2e/wenet.git
git+https://github.com/wenet-e2e/wespeaker.git
