accelerate==1.3.0
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiosignal==1.4.0
annotated-doc==0.0.3
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.11.0
asttokens==3.0.0
attrs==25.4.0
audioread==3.1.0
av==15.1.0
backcall==0.2.0
beautifulsoup4==4.14.2
Brotli==1.1.0
certifi==2025.10.5
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.0
coloredlogs==15.0.1
compressed-tensors==0.9.3
conformer==0.3.2
contourpy==1.3.3
cycler==0.12.1
cytoolz==1.1.0
datasets==3.2.0
decorator==5.2.1
diffusers==0.32.2
dill==0.3.8
einops==0.8.1
emoji==2.14.1
executing==2.2.1
fastapi==0.121.0
ffmpy==0.6.4
filelock==3.20.0
fire==0.7.0
flash_attn==2.7.4.post1
flatbuffers==25.9.23
fonttools==4.60.1
frozenlist==1.8.0
fsspec==2024.9.0
gdown==5.2.0
gradio==5.24.0
gradio_client==1.8.0
groovy==0.1.2
h11==0.16.0
h5py==3.13.0
hf-xet==1.2.0
httpcore==1.0.9
httpx==0.28.1
huggingface-hub==0.30.2
humanfriendly==10.0
hydra-core==1.3.2
HyperPyYAML==1.2.2
idna==3.11
importlib_metadata==8.7.0
importlib_resources==6.5.2
intervaltree==3.1.0
ipython==8.12.3
jedi==0.19.2
jieba==0.42.1
Jinja2==3.1.6
joblib==1.5.2
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
kaldiio==2.18.0
kiwisolver==1.4.9
lazy_loader==0.4
lhotse==1.29.0
librosa==0.10.2.post1
lightning==2.5.0.post0
lightning-utilities==0.15.2
lilcom==1.8.1
llvmlite==0.45.1
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib==3.10.0
matplotlib-inline==0.2.1
mdurl==0.1.2
modelscope==1.23.0
more-itertools==10.8.0
mpmath==1.3.0
msgpack==1.1.2
multidict==6.7.0
multiprocess==0.70.16
networkx==3.5
numba==0.62.1
numpy==2.3.4
nvidia-cublas-cu12==12.4.5.8
nvidia-cuda-cupti-cu12==12.4.127
nvidia-cuda-nvrtc-cu12==12.4.127
nvidia-cuda-runtime-cu12==12.4.127
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.2.1.3
nvidia-curand-cu12==10.3.5.147
nvidia-cusolver-cu12==11.6.1.9
nvidia-cusparse-cu12==12.3.1.170
nvidia-cusparselt-cu12==0.6.2
nvidia-nccl-cu12==2.21.5
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvtx-cu12==12.4.127
omegaconf==2.3.0
onnxruntime==1.20.1
onnxruntime-gpu==1.20.1
openai-whisper==20240930
opencv-python-headless==4.11.0.86
orjson==3.11.4
packaging==24.2
pandas==2.3.3
parso==0.8.5
pexpect==4.9.0
pickleshare==0.7.5
pillow==11.3.0
pip==24.2
platformdirs==4.5.0
pooch==1.8.2
prompt_toolkit==3.0.52
propcache==0.4.1
protobuf==6.33.0
psutil==6.1.1
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==22.0.0
pycparser==2.23
pydantic==2.11.10
pydantic_core==2.33.2
pydub==0.25.1
Pygments==2.19.2
pynini==2.1.6
pyparsing==3.2.5
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-multipart==0.0.20
pytorch-lightning==2.5.6
pytz==2025.2
PyYAML==6.0.2
ray==2.43.0
referencing==0.37.0
regex==2024.11.6
requests==2.32.5
rich==14.2.0
rpds-py==0.28.0
ruamel.yaml==0.18.16
ruamel.yaml.clib==0.2.14
ruff==0.14.3
safehttpx==0.1.7
safetensors==0.6.2
scikit-learn==1.7.2
scipy==1.16.3
semantic-version==2.10.0
sentencepiece==0.2.0
setuptools==80.9.0
shellingham==1.5.4
six==1.17.0
sniffio==1.3.1
sortedcontainers==2.4.0
soundfile==0.13.1
soupsieve==2.8
soxr==1.0.0
stack-data==0.6.3
starlette==0.49.3
sympy==1.13.1
tabulate==0.9.0
tensorboardX==2.6.2.2
termcolor==3.2.0
threadpoolctl==3.6.0
tiktoken==0.12.0
tokenizers==0.21.4
tomlkit==0.13.3
toolz==1.1.0
torch==2.6.0
torchao==0.11.0
torchaudio==2.6.0
torchmetrics==1.6.0
torchvision==0.21.0
tqdm==4.66.5
traitlets==5.14.3
transformers==4.52.4
triton==3.2.0
typer==0.20.0
typer-slim==0.20.0
typing_extensions==4.15.0
typing-inspection==0.4.2
tzdata==2025.2
urllib3==2.5.0
uvicorn==0.38.0
wcwidth==0.2.14
websockets==15.0.1
WeTextProcessing==1.0.4.1
wget==3.2
xformers==0.0.29.post2
xxhash==3.6.0
yarl==1.22.0
zipp==3.23.0
